<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="/templates/reset.css"> -->
    <link rel="stylesheet" href="/templates/style.css">
    <title>AA-WEB-export</title>
</head>
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <body>
        <div class="penguin">
            <img class="papa" src="https://assets.codepen.io/3/kiwi.svg">
            <img class="mama" src="https://assets.codepen.io/3/kiwi.svg">
            <img class="baby" src="https://assets.codepen.io/3/kiwi.svg">
        </div>
        <div class="menu">
            <!-- <div>
                <img class="papa" src="https://assets.codepen.io/3/kiwi.svg">
                <img class="mama" src="https://assets.codepen.io/3/kiwi.svg">
                <img class="baby" src="https://assets.codepen.io/3/kiwi.svg">
            </div> -->
            <form class="control" method="POST" action="/ascii-art/">
                <h2>ASCII-ART</h2>
                    {{ if .Input }}
                    <textarea resize: none;" name="input" required placeholder="type something">{{ .Input }}</textarea>
                    {{ else }}
                    <textarea  resize: none;" name="input" required placeholder="type something"></textarea>
                    {{ end }}
                    <label for="FONTS">FONTS</label>
                        <select name="fs"> 
                            <option value="standard">Standard</option>
                            <option value="shadow">Shadow</option>
                            <option value="thinkertoy">Thinkertoy</option>
                        </select>
        </div>
            <td class="button">
                <button name="button" value="submit">Submit</button>
                <button name="button" value="export">Export</button>
            </td>
            </form>
    <pre>{{ .Output }}</pre>
    </body>
</html>
