
 html, body { height: 100%; }
 body {
   background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
   overflow: hidden;
 }
 
 .ocean { 
   height: 5%;
   width:100%;
   position:absolute;
   bottom:0;
   left:0;
   background: #015871;
 }
 
 .wave {
   background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
   position: absolute;
   top: -198px;
   width: 6400px;
   height: 198px;
   animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
   transform: translate3d(0, 0, 0);
 }
 
 .wave:nth-of-type(2) {
   top: -175px;
   animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
   opacity: 1;
 }
 
 @keyframes wave {
   0% {
     margin-left: 0;
   }
   100% {
     margin-left: -1600px;
   }
 }
 
 @keyframes swell {
   0%, 100% {
     transform: translate3d(0,-25px,0);
   }
   50% {
     transform: translate3d(0,5px,0);
   }
 }


.menu{

    justify-content: center;
    /* height: 50%;
    width: 100%; */
 
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    
}  


.control {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  
}

  
textarea{
    
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
    /* background-color: #ff6900ff; */
    background: transparent;
  
    /* margin: 10px; */
    align-items: center;
    width: 100%;
    max-width: 1200px;
    min-width: 300px;

    /* position: relative;
    left: 50%;
    transform: translate(-50%, 0); */
}

.papa {
  width: 20%;
color: orangered;

}

.mama {
  width: 15%;
  color: orchid;
}

.baby {
  width: 10%;
} 

label{
    display: inline;
    margin: auto;

    /* position: relative;
    left: 50%;
    transform: translate(-50%, 0);
     */
    background-color: #B7E8EB;
    color: rgb(11, 6, 12);
    border: 1px solid #110a05; 
    border-radius: 9%;
    padding: initial;
    margin: 2%;
  } 


button{
position: relative;
left: 51%;
transform: translate(-50%, 0);

background-color:#B7E8EB;
color: rgb(11, 6, 12);
border: 1px solid #110a05; 
border-radius: 25%;

-webkit-transition-duration: 7s; /* Safari */
    transition-duration:4s;
}

button:hover {
        background-color: #000000;
        color: #ace63c;
        display: inline-block;
}


pre{
      display: block;
      justify-content: center;
      width: 100%;
      overflow: auto;
      color:	rgb(3, 2, 2);
      background-color: initial;
      border-bottom: inset;
}

/* Smartphones (portrait and landscape) ---------- */
    @media screen and (min-width: 320px) and (max-width: 480px){
        .menu{
			background: #7ce7e1;
      justify-content: center;
      width: 100%;
      min-width: 250px;
    }
    }
    /* Smartphones (portrait) ---------- */
    @media screen and (max-width: 320px){
        body{
			background: #ffd280;
		}
    }
    /* Smartphones (landscape) ---------- */
    @media screen and (min-width: 321px){
        body{
			background: #9ddfbb;
		}
    }
    /* tablets, iPads (portrait and landscape) ---------- */
    @media screen and (min-width: 768px) and (max-width: 1024px){
        body{
			background: #ffb497;
		}
    }
    /* tablets, iPads (portrait) ---------- */
    @media screen and (min-width: 768px){
        body{
			background: #f0e68c;
		}
    }
    /* tablets, iPads (landscape) ---------- */
    @media screen and (min-width: 1024px){
        body{
			background: #d6b3f4;
		}
    }
    /* Desktops and laptops ---------- */
    @media screen and (min-width: 1224px){
        body{
			background: #d8ff9d;
		}
    }
    /* Large screens ---------- */
    @media screen and (min-width: 1824px){
        body{
			background: #ffc0cb;
		}
    }
/* @media only screen and (max-width: 600px) {
  body {
    color: green;
  }
} */
