
.banner__content {
  background: linear-gradient(180deg, #7125ce 0%, #150044 100%);
  padding-top: 8%;
  padding-bottom: 8%;
}
.banner svg {
  width: 100%;
  fill: #150044;
}

/* style for content without animals ---------- */
.control{
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
    display: flex;
    min-height: 100%;
    overflow: hidden;
    align-content: center;

    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}  

@media (max-width:1200px){
  body{
    max-width: 970px;
  }
  .control{
    max-width: 970px;
  }
  .button{
    max-width: 970px;
  }
  /* pre{
    max-width: 970px;
  } */
  }

@media (max-width:992px){
  body{
    max-width: 970px;
  }
  .control{
    max-width: 750px;
 
  }
  .button{
    max-width: 750px;
   
  }
  pre{
    max-width: 100%;
  /* align-content: center; */
  /* justify-content: center;
  display: flex; */

}
}
@media (max-width: 767px){
  body{
    max-width: 560px;
  }
  .control{
    max-width: 560px;
  }
  .button{
    max-width:560px;
  }
  pre{
    max-width: 560px;
  }
}
 @media (max-height:500px){
  body{
    max-width: 320px;
  }
  .control{
    max-width: 320px;
  }
  .button{
    max-width: 320px;
  }
  pre{
    max-width: 320px;
  }
}
/* @media (min-width:767px){
.control{
  max-width: none;
}
}
@media (max-width: 420px){
  .control{
    max-width: none;
  } */
/* } */



/* @media (orientation:landscape){
  .control{
    max-width: 970px;
  }
} */

textarea{
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
    /* background-color: #ff6900ff; */
    background: transparent;
  
    /* margin: 10px; */
    align-items: center;
    /* position: relative;
    left: 50%;
    transform: translate(-50%, 0); */
}

label{
    display: inline;
    margin: auto;

    /* position: relative;
    left: 50%;
    transform: translate(-50%, 0);
     */
    background-color: #B7E8EB;
    color: rgb(11, 6, 12);
    border: 1px solid #110a05; 
    border-radius: 9%;
    padding: initial;
    margin: 2%;
  } 


button{
position: relative;
left: 51%;
transform: translate(-50%, 0);

background-color:#B7E8EB;
color: rgb(11, 6, 12);
border: 1px solid #110a05; 
border-radius: 25%;

-webkit-transition-duration: 7s; /* Safari */
    transition-duration:4s;
}

button:hover {
        background-color: #000000;
        color: #ace63c;
        display: inline-block;
}


pre{
      display: block;
      justify-content: center;
      width: 100%;
      overflow: auto;
      color:	rgb(3, 2, 2);
      background-color: initial;
      border-bottom: inset;
}




    /* tablets, iPads (portrait) ---------- */
    /* @media screen and (min-width: 768px){
        body{
			background: #f0e68c;
		}
    } */
    /* tablets, iPads (landscape) ---------- */
    /* @media screen and (min-width: 1024px){
        body{
			background: #d6b3f4;
		}
    } */
    /* Desktops and laptops ---------- */
    /* @media screen and (min-width: 1224px){
        body{
			background: #d8ff9d;
		}
    } */
    /* Large screens ---------- */
    /* @media screen and (min-width: 1824px){
        body{
			background: #ffc0cb;
		} 
    } */
    /* @media only screen and (max-width: 600px) {
      body {
        color: green;
      }
    }  */

